<div class="slide fade">
    <img class="slide-image" src="{{ banner.data.image }}" alt="{{ banner.data.imageAlt }}">
    <div class="slide-text">
        <div class="overlay">
            <h2 class="slide-title">{{ banner.data.title }}</h2>
            <p class="slide-description">{{ banner.data.description }}</p>
        </div>
    </div>
</div>